button {
  background-color: #323f4b;
  width: 100%;
  padding: 8px;
  color: #f5f7fa;
  font-size: 1rem;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
}

.default-btn:hover {
  background-color: #404040;
}

.pdf-btn {
  background-color: rgb(76, 175, 76);
  margin-top: 30px;
}

.pdf-btn:hover {
  background-color: rgb(129, 195, 129);
}

.example-btn {
  background-color: orange;
}
.example-btn:hover {
  background-color: rgb(255, 197, 91);
}
.reset-btn {
  background-color: rgb(236, 32, 32);
}
.reset-btn:hover {
  background-color: rgb(255, 93, 93);
}
