.cv-container {
  width: 798px;
  background-color: #f5f7fa;
  margin: 40px auto;
  border-bottom: 16px solid #2d3a8c;
  min-height: 120vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}

.cv-header {
  background-color: #19216c;
  height: 150px;
  color: #f5f7fa;
  line-height: 0.6;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-left: 20px;
}

.cv-main-container {
  display: flex;
  margin-left: 20px;
  gap: 15px;
}

.cv-main {
  flex-grow: 1;
}

.cv-sidebar {
  min-width: 200px;
  margin-right: 20px;
  background-color: #2d3a8c;
  width: auto;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0;
  color: #f5f7fa;
}

.cv-sidebar > .cv-title {
  color: #f5f7fa;
}

.sidebar-details {
  line-height: 0.2;
  padding: 5px 0;
}

.description {
  font-style: italic;
  font-size: 0.969rem;
}

.experience-section,
.education-section {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: left;
}
