.footer {
  background-color: #2d3a8c;
  text-align: center;
  color: #f5f7fa;
  padding: 8px;
}

.footer a {
  color: inherit;
  font-weight: bold;
}

@media (max-width: 760px) {
  .footer {
    width: 800px;
  }
}
