.form-container {
  width: 798px;
  background-color: #f5f7fa;
  padding: 30px;
  margin: 40px auto;
  min-height: 120vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid transparent;
  outline: none;
  font-size: 0.9rem;
}

textarea {
  resize: none;
  height: 80px;
  border-radius: 6px;
  outline: none;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}
